body {
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}
.containter {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.99;
}
h1 {
    font-size: 50px;
}
.pictures {
    height: 320px;
    width: 680px;
    border: 5px solid white;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    overflow:hidden;
    position: relative;
    background-color: black;
    z-index: -10;
    &:hover .slide {
        animation-play-state: paused;
        & .line {
            animation-play-state: paused;
        }
    }
}
.slide {
    height: 320px;
    width: 100%;
    position: absolute;
    top: -320px;
    opacity: 0;
    animation: slide 15s infinite;
}
.bcg::after {
    content: attr(name);
    width: 250px;
    height: 35px;
    position: absolute;
    bottom: 15px;
    left: -310px; 
    padding: 15px;
    font-size: 30px;
    letter-spacing: 1.7px;
    line-height: 35px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.slide:hover.bcg::after {
    transform: translateX(310px);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.line {
    width: 680px;
    height: 6px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 314px;
    left: 0;
    z-index: 7;
    animation: line 3s ease-out  infinite;
}
.dog {
    animation-delay: 3s;
}
.bear {
    animation-delay: 6s;
}
.leo {
    animation-delay: 9s;
}
.wolf {
    animation-delay: 12s;
}
@keyframes line{
    0% {
        width: 0px;
        background-color: rgba(0,0,0,0.0);
    }
    100% {
        width: 680px;
        background-color: rgba(0,0,0,0.8);
    }
}

@keyframes slide {
    0% {
        transform: translateY(0);
        opacity: 0;
        z-index: -5;
    }
    6.66% {
        z-index: 5;
        transform: translateY(320px);
        opacity: 1;
    }
    13.32% {
        z-index: 5;
        transform: translateY(320px);
        opacity: 1;
        
    }
    19.98% {
        z-index: 5;
        transform: translateY(320px);
        opacity: 1;
        
    }
    26.64% {
        transform: translateY(640px);
        opacity: 0;
        z-index: -5;
    }

    100% {
        transform: translate(0,0);
        opacity: 0;
        z-index: -5;
    }
}
                                            
                                            
               
                                                











                                            
                                            





























